/* custom CSS rules */

/* display none for layout but be careful of license restrictions */
.mapbox-logo, .leaflet-control-attribution {
  display: none;

}
.legend-large, .legend-small {
    border-radius: 50%;
}

hr.small, hr.large {
    width: 83px;
    position: absolute;
    top: -8px;
    left: 55px;
    border: 1px dashed #ccc;     /* overwrite assembly.css rule */
    margin-top: 8px;            /* overwrite assembly.css rule */
}

.boys {
    color: #6E77B0;
}

.girls {
    color: #D96D02;
}

#info{
  z-index:1000;
}

body {
    font-family: "Work Sans", sans-serif;
}

#about {
  position: absolute;
  bottom: 20px;
  left: 15px;
  width: 280px;
  padding: 0 15px;
  background: rgba(256, 256, 256, .4);
  border: 1px solid grey;
  border-radius: 3px;
  z-index: 800;
}
